body{
    background-color: black;
    color: white;
}
header{
    /*z-index: 1;*/
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    width: 150px;
    height: 20px;
    background-color: grey;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
header a{
    text-decoration: none;
    color: white;
}
.active{
    background-color: black;
}
section{
    width: 100%;
    height: auto;
    overflow: auto;
    padding-top: 50px;
    
}